@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 style="color:deepskyblue">Please use your Mohawk College email to register a new account!</h3>
</div>
