@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This application is used to help eligible students manage their software licensing keys in one place.</p>

<p>In order to use this application, you must be currently or formerly registered as a CSAIT student. If you are unable to login and you are currently a CSAIT student, 
    please contact the administrator at brian.minaji@mohawkcollege.ca</p>

<p>Upon logging in, a list of products will be displayed to the user along with the appropriate product keys. A download link to the software will also be provided.</p>

<p>An administrator will be able to upload lists of product names, keys or eligible students in the form of .txt files. The administrator will be able to manipulate accounts, permissions and data as appropriate.</p>

<p>Designed by eCubed</p>
