@using MSL_APP.Models
@model IEnumerable<StudentKey>

@{
    ViewData["Title"] = "Student Home Page";
}

<h1>My Product Keys</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Key
            </th>
            <th>
                Download Link
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DownloadLink)
                </td>
            </tr>
        }
    </tbody>
</table>