@model IEnumerable<MSL_APP.Models.ProductKey>

@{
    ViewData["Title"] = "Student Home Page";
}

<h1>Student Panel</h1>

<div class="text-center">
    <h1 class="display-4">This is Student Home Page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
