@model MSL_APP.Models.ProductName

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProductName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityLimit" class="control-label"></label>
                <input asp-for="QuantityLimit" class="form-control" />
                <span asp-validation-for="QuantityLimit" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="KeyCount" class="control-label"></label>
                <input asp-for="KeyCount" class="form-control" />
                <span asp-validation-for="KeyCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsedKeyCount" class="control-label"></label>
                <input asp-for="UsedKeyCount" class="form-control" />
                <span asp-validation-for="UsedKeyCount" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ActiveStatus" class="control-label"></label>
                <select asp-for="ActiveStatus" class="form-control" asp-items="ViewBag.listofitems"></select>
                <span asp-validation-for="ActiveStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DownloadLink" class="control-label"></label>
                <input asp-for="DownloadLink" class="form-control" />
                <span asp-validation-for="DownloadLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

