
@{
    ViewData["Title"] = "GetKeyDetails";
}

<div class="text-center">
    @if ((bool)ViewData["StudentGetKeySucceed"])
    {
        <h1>Your New Key</h1>

        <h4 style="color:dodgerblue">@ViewData["StudentProductName"]</h4>
        <h6 style="color:darkgrey">@ViewData["StudentProductKey"]</h6>
    }
    else
    {
        <h1>Get New Key Failed</h1>

        <h4 style="color:red">Sorry, you cannot get the new key from @ViewData["StudentProductName"].</h4>
        <h4 style="color:red">@ViewData["StudentGetKeyMessage"]</h4>
    }
    <br />
    <a asp-action="Student">Back to Product List</a>

</div>
